.wrapper{
  display: flex;
  justify-content: space-between;
}
.logo{
  margin: 26px 0 26px 120px;
}
.links{
  margin: 24px 120px 24px 0;
  display: flex;
  gap: 32px;
  
}
.link{
  text-decoration: none;
  color: inherit;
  transition: color 0.3s ease;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  font-family: "Manrope", sans-serif;
}
.link.active{
  color: #0B44CD;
}
.logo{
  width: 104px;
  height: 16px;
}